/* ****************************************************

	@file         screen.css
	@description  Screen stylesheet
	vim: set ts=4 fenc=utf-8:

***************************************************** */

@import url("./reset.css");

/* @section Basic {{{
******************************************************************************/

html { font-size: 62.5%; }
html, body { height: 100%; }

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 150%;
	line-height: 21px;
	color: #d2d4d6;
    background: #333 url("../images/background.jpg") /*fixed*/;
	position: relative;
	behavior: url("/js/ie6/csshover.htc");
	padding: 0 30px;
    text-rendering: optimizeLegibility;
}



p,ul,ol,dl,table,pre { margin-bottom: 1em; }
ul { margin-left: 20px; }
a { text-decoration: none; cursor: pointer; color:  #a1804c; font-weight: normal; }
a:focus { outline: 1px dotted; }
a:visited {  }
a:hover, a:focus { color: #d3a459; text-decoration: none; }
a *, button * { cursor: pointer; }
hr { display: none; }
small { font-size: 90%; }
input, select, button, textarea, option { font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; font-size: 100%; }
button, label, select, option, input[type=submit] { cursor: pointer; }
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .group {display: inline-block;}
/* Hides from IE-mac \*/ * html .group {height: 1%;} .group {display: block;} /* End hide from IE-mac */
sup { font-size: 80%; line-height: 1; vertical-align: super; }
button::-moz-focus-inner { border: 0; padding: 1px; }
span.amp { font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif; font-weight: normal; font-style: italic; font-size: 1.2em; line-height: 0.8; }
h1,h2,h3,h4,h5,h6 { line-height: 1.1; }

::selection { background: #745626; }
::-moz-selection { background: #745626; }

h1 {
	font-size: 550%;
	margin: 0 0 0.1em;
	font-family: 'BallparkWeiner', serif;
	font-weight: normal;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.55);
}

h1 a,
h1 a:hover {
	color: #900;
	font-weight: normal;
	text-decoration: none;
}

#subtitle {
	color: #a1804c;
}

#wrap {
	width: 52em;
	/*width: 760px;*/
	max-width: 100%;
	margin: 0 auto;
	padding: 30px 0 0;
}

#header {
	text-align: center;
	padding: 1em 0 2em;
}

pre {
	background: rgba(0,0,0,0.3);
	color: #fff;
	padding: 8px 10px;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	overflow-x: hidden;
}

pre code {
	font-size: 10pt;
}

.gist{
  margin: 10px 0 !important;
}

.gist-file{
  border: none !important;
}

.gist-meta{
  border: 1px solid #D2d2d2 !important;
  font-size: 8pt !important;
  padding: 6px !important;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;

}

.gist-data{
  line-height: 1.2em !important;
  font-size: 10pt !important;
  background: rgba(0,0,0,0.3) !important;
  padding: 10px !important;
  border: 0px solid #D2d2d2 !important;
  border-bottom: none !important;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
}

.k, .o {
  color: #A1804C !important;
}

/*}}}*/

/* @section Informations {{{
******************************************************************************/

#informations {
	border-top: 1px solid rgba(0,0,0,0.5);
}

#informations ul {
	margin: 0;
}

#informations .row {
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-top: 1px solid rgba(255,255,255,0.08);
	padding: 2em 20px 0;
}
 
#informations .row .col-1 {
	width: 49%;
	float: left;
	padding: 0 0 1em;
}

#informations .row .col-2 {
	width: 49%;
	float: right;
	padding: 0 0 1em;
}

.button {
	text-align: center;
}

#informations .button a {
	background: rgba(162,107,20,0.3);
	padding: 8px 10px 6px;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
	text-decoration: none;
}

#informations .button a:hover {
	background: rgba(162,107,20,0.25);
}

#informations .button-large {
	padding: 2em 0 1em;
	font-size: 120%;
}

#informations .quote {
	text-align: center;
	color: #816f51;
	padding-bottom: 2em;
}

#informations .quote blockquote {
	/*font-family: Georgia, serif;*/
	font-size: 140%;
	padding: 0 15%;
}

#informations .quote blockquote span {
	font-family: Georgia, serif;
	font-size: 140%;
	line-height: 0.5;
	vertical-align: sub;
}

#informations .quote cite {
	font-style: normal;
}

#informations .quote cite a {
	font-weight: normal;
}

/*}}}*/
