include *.py

include bliss/*.py

include bliss/saga/*.py
include bliss/saga/sd/*.py
include bliss/saga/job/*.py
include bliss/saga/resource/*.py
include bliss/saga/filesystem/*.py

include bliss/runtime/*.py
include bliss/interface/*.py

include bliss/plugins/*.py
include bliss/plugins/sftp/*.py
include bliss/plugins/sge/*.py
include bliss/plugins/pbs/*.py
include bliss/plugins/local/*.py

include bliss/plugins/ssh/*.py

include MANIFEST.in README.md LICENSE.md CHANGES.md

