include *.py

include bliss/*.py
include bliss/saga/*.py
include bliss/saga/job/*.py

include bliss/runtime/*.py

include bliss/plugins/*.py
include bliss/plugins/job/*.py
include bliss/plugins/job/local/*.py

include MANIFEST.in README LICENSE CHANGES

